@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  // --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 112, 128, 144
  // --background-end-rgb: 255, 255, 255;
}

// body {
//   color: rgb(var(--foreground-rgb));
//   background: rgb(var(--background-start-rgb));
// }


.home-background {
  background: url('/moving_Waves.svg');
  // background: #4a607e;
  background-size: cover;
  background-position: center;
  z-index: -1; /* Make sure the background is behind the content */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; 
}

.logo-light {
  animation: shadows 2s infinite
}

@keyframes shadows {
  0% { box-shadow: orange 0 0 10px; }
  0% { box-shadow: violet 0 0 10px; }
  50% { box-shadow: blue 0 0 10px; }
  75% { box-shadow: red 0 0 10px;}
  100% { box-shadow: green 0 0 10px; }
 }

 .gradient-shadow::before {
  content: '';
  position: absolute;
  top: -4px;
  left: -4px;
  right: -4px;
  bottom: -4px;
  background: linear-gradient(135deg, #4f46e5, #ec4899, #10b981);
  z-index: -1;
  border-radius: inherit;
  filter: blur(15px);
}