@tailwind base;
@tailwind components;
@tailwind utilities;

@import './home-background.scss';

:root {
  // --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 112, 128, 144
  // --background-end-rgb: 255, 255, 255;
}

// body {
//   color: rgb(var(--foreground-rgb));
//   background: rgb(var(--background-start-rgb));
// }


.logo-light {
  animation: shadows 2s infinite
}

@keyframes shadows {
  0% { box-shadow: orange 0 0 10px; }
  0% { box-shadow: violet 0 0 10px; }
  50% { box-shadow: blue 0 0 10px; }
  75% { box-shadow: red 0 0 10px;}
  100% { box-shadow: green 0 0 10px; }
 }

 .gradient-shadow::before {
  content: '';
  position: absolute;
  top: -4px;
  left: -4px;
  right: -4px;
  bottom: -4px;
  background: linear-gradient(135deg, #4f46e5, #ec4899, #10b981);
  z-index: -1;
  border-radius: inherit;
  filter: blur(15px);
}

@keyframes loading-bar {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

.animate-loading-bar {
  animation: loading-bar 1.5s ease-in-out infinite;
}